/**********GLOBAL**********/
html {
    font-size: 16px;
}

/*Estilização de títulos*/
h1 {
    background-color: beige;
    color: red;
    font-size: 3em;
    font-family: "Georgia", serif;
}

h2 {
    background-color: #264653;
    color: #e76f51;
    font-size: 2em;
    font-family: "Arial";
}

/**********Cabeçalho**********/
.header-index {
    background-color: aquamarine;
}

/******Conteúdo principal******/
img {
    width: 100vw;
}

main>ul {
    background-color: rgba(255, 100, 75, 0.7);
    font-size: 1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main>em {
    font-weight: bold;
}

div.quadrado {
    width: 100vw;
    height: 20vh;
    background-color: aquamarine;
}

div.quadrado>div.quadrado {
    width: auto;
    height: 30px;
    background-color: hsl(266, 89%, 58%);
}

div.quadrado>div.quadrado>p {
    color: hsl(61, 100%, 58%);
}

div.quadrado>h1 {
    background-color: transparent;
}
